// Body
$body-bg: #f8fafc;

// Personalizar Cores
/* $primary: #FF5733;
$secondary: #3498DB;
$success: #27AE60;
$info: #2980B9;
$warning: #F1C40F;
$danger: #E74C3C; */

// Typography
$font-family-sans-serif: 'Segoe UI', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
